.buttons > a{
    font-size: 16px;
    display: inline-block;
    padding: 9px 11px 9px 11px;
    border-radius: 20px;
}
.buttons > button{
    padding: 13px 15px 13px 15px;
    border-radius: 20px;
}

.form-group > button{
    postion: relative;
    margin-left: 101%;
    margin-top: -4.8%;
    size: 10px;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
}
.form-group > a {
    postion: relative;
    margin-left: 106%;
    margin-top: -6.8%;
    size: 10px;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
}